<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>{{ ctx.values['ct_id'] }}</id>
  <secret>{{ ctx.values['ct_secret'] }}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
