<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>{{ ctx.values['ct_id'] }}</id>
  <username>{{ ctx.values['ct_username'] }}</username>
  <password>{{ ctx.values['ct_password'] }}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
