{%- set backend_url = namespace(value='') -%}
{%- for template_name in ctx.templates -%}
    {%- set template = ctx.templates[template_name] -%}
    {%- if template["is_app_template"] -%}
        {%- do template.update({'heroku_app_name': (("a" + template["hash"] + "-" + template["template_name"]).replace("_", "-")[:29]).lower()}) -%}
        {%- if template['meta_data'].get('appType', None) == 'backend' and backend_url.value == '' -%}
            {%- set backend_url.value = 'https://' + template["heroku_app_name"] + '.herokuapp.com' -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
name: Heroku Deployment
on:
  push:
    branches:
      - main
jobs:
    herokudeploy:
      name: Deploy to Heroku
      runs-on: ubuntu-latest
      steps:
        - name: Checkout the code
          uses: actions/checkout@v2
    {%- for template_name in ctx.templates -%}
        {%- set template = ctx.templates[template_name] -%}
            {%- if template["is_app_template"] -%}
            {% set app_name = template["heroku_app_name"] %}
        - name: Deploy {{app_name}}
          uses: akhileshns/heroku-deploy@v3.12.12
          with:
            heroku_api_key: {{ '${{ secrets.HEROKU_API_KEY }}' }}
            heroku_app_name: {{app_name}}
            heroku_email: {{ '${{ secrets.HEROKU_EMAIL }}' }}
            usedocker: true
            appdir: {{template["template_name"]}}
            docker_build_args: |
              BACKEND_API_URL
          env:
            BACKEND_API_URL: '{{backend_url.value}}'
            {%- endif -%}
    {%- endfor -%}
