{
  "name": "{{ctx.current_template['repository_name']}}",
  "author": "{{ctx.current_template['PROJECT_AUTHOR']}}",
  "version": "0.0.1",
  "description": "{{ctx.current_template['PROJECT_DESCRIPTION']}}",
  "license": "",
  "private": true
}
